@font-face {
  font-family: "Get Schwifty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff")
    format("woff");
}

.container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  margin-bottom: 20px;
}

.button {
  padding: 12px;
  border-radius: 10px;
  width: 7%;
  margin-left: 10px;
}

.button__pages {
  padding: 12px;
  border-radius: 10px;
}

.icon {
  font-size: 20px;
  color: #08bae3;
}

.loading {
  width: 300px;
}
