.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-top: solid 2px #32356a;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 20px;
  color: #fff765;
}
