@font-face {
  font-family: "Get Schwifty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff")
    format("woff");
}

.App {
  text-align: center;
}

.title {
  font-family: "Get Schwifty";
  color: #08bae3;
  z-index: 50;
  -webkit-text-stroke: 0.5px #fff765;
  font-size: 70px;
  text-align: center;
}
